.form-button {
    width: 140px;
    height: 40px;
    border-style: none;
    border-radius: 50px;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.7s;
}

.form-button:hover{
    background-color: var(--primary-color);
    color: var(--second-color);
}